.tabs {
    width: 650px;
    margin: 0 auto;
    margin-left: 50px;
    margin-top: 30px;
    
  }
  
  .tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab-button {
    flex: 1;
    padding: 10px 20px;
    
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab-button.active {
    color: #fff;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: transparent;
    
  }